<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Done</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="icon" type="image/png" href="https://cassw.herffjones.com/favicon-32x32.png">
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Complete!</h1>
      <p class="lead">Be sure to wait a sufficient amount of time to allow for download before quitting...</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/kill" role="button">Kill</a>
      </p>
    </div>
  </div>
</body>
</html>
